
    .color{
        width: 500px;
        height: 300px;
        background:linear-gradient(to right, rgb(41, 40, 40) 0%, transparent 100%);
        /* background:linear-gradient(to top, yellow, red); */
        /* transparent透明顏色 */
        border: 1px solid #000;
        /* z-index: 50; */
    }


/* --------------------------------------- */
   html,body{
        margin: 0;
        padding: 0;
        background: #E1E1E1;
   }
  
  .main-wrap{
    background-color: blue;
    margin-left: 10%;
    margin-top: 200px;
    padding: 10px;
    position: relative;
    max-width: 50%;
    overflow: hidden;
  }
  
  .content-container{
    background-color: green;
    height: 230px;
    position: relative;
    white-space: nowrap;
    overflow: auto;
  }
  
  .content-container .width-proxy{
    height: 10px;
    display: inline-block;
    background-color: red;
  }
  
  .content-container img{
    margin-left: 10px;
    margin-top: 15px;
    position: relative;
    opacity:0;
    visibility:hidden;
  }
    .content-container img:first-child{
      margin-left: 0;
    }
    .content-container img{
        width: 200px;
        height: 200px;
    }
    .content-container::-webkit-scrollbar {
        display: none;
    }



/* ------------------------------ */
/* 最外層(父層) */
    .big_bbb{
        height: 250px;
        width: 70%;
        overflow-x: scroll;
        border: 1px solid red;
        box-sizing: border-box;
        margin: 0 auto;
    }
/* 第二層 */
    .pn01{
        width: 120%;
        height: 90%;
        border: 1px solid black;
    }
/* 第三層 */
    .pn02{
        width: 25%;
        height: 90%;
        border: 1px solid blue;
        float: left;
        box-sizing: border-box;

    }
    /* .big_bbb::-webkit-scrollbar {
        display: none;
    } */







    /* --------------自行左右滑動輪播-動畫-----------  */
  /* .bigd {
            height: 15%;
            width: 100%;
            overflow-x: scroll;
            border: 1px solid red;
            box-sizing: border-box;
        }

        .bigd .Self01 {
            width: 100%;
            height: 90%;
            border: 1px solid black;
            float: left;

        }

        .bigd .Self02 {
            width: 25%;
            height: 90%;
            border: 1px solid blue;
            float: left;
            box-sizing: border-box;

        }

        .Self02 img {
            width: 100%;
            height: 100%;
        } */

        /* 最外層(父層) */
        .bigd {
            width: 70%;
            margin: 0 auto;
            height: 200px;
            overflow: hidden;
            overflow-x: auto;
            /* overflow-x: scroll; */
            box-sizing: border-box;
            /* display: flex;
            flex-wrap: nowrap;
            flex-direction: row; */
        }

        /* 第二層 */
        .Self01 {
            /* overflow-x: scroll; */
            height: 210px;
            width: 120%;
            /* display: flex; */
            justify-content: space-between;
        }

        .Self02 img {
            width: 100%;
            height: 100%;
        }

        /* 第三層 */
        .bigd .Self02 {
            background-color: ghostwhite;
            text-align: center;
            margin-right: 20px;
            float: left;
            box-sizing: border-box;
        }

        /* 第三層 */
        .bigd .Self02:last-child {
            padding-right: 0;
        }
/* ---------------手刻換圖輪播------------- */
.warp{
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 3px solid #000;
    margin: 50px auto;
    padding: 0;
    
}
.warp01{
    list-style-type: none;
    display: flex;/* 變成換圖輪播的橫排 */
    width: 6600px;/* 設定n個圖片寬度*數量 */
    height: 400px;
    /* 設定絕對定位是為了要輪播的位移 */
    position: absolute;
    left: -1200px;
    margin: 0;
    padding: 0;
    transform: .5s;
}
/* .warp02{
    max-width: 600px;
    height: 400px;
} */
.warp02 img{
    /* 設定圖片符合最外面父層的視窗大小 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ----------設定換圖輪播的點點-------- */
.slider_dots{
    position: absolute;
    list-style-type: none;
    display: flex;
    bottom: 0;
    justify-content: center;/* 在自己的領域置中,所以要設定寬度 */
    width: 100%;
    padding: 0;
}
.slider_dots li{
    width: 20px;
    height: 5px;
    margin: 0 4px;
    border: 1px solid #fff;
    
}

