*{
    list-style-type: none;
    box-sizing: border-box;
}


/*如果螢幕寬度為 768px 以上 且 1440px 以下，就套用 css 設定*/
@media screen and (min-width: 768px) and (max-width: 1440px){
    .header_body{
        border-bottom: 1px solid rgb(225, 225, 225);
        position: sticky;
        /* position: sticky;自動偵測到使用者滑動後固定在一個定點 */
        top: 0px;
        z-index: 2000;

    }
    .item-group{
        display: flex;
        flex-direction: row;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    
    }
    .nav_01_body,.nav_02_body{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .nav_01_body{
        background-color: #f6f6f6;
    }
    
    
    .p_32{
        padding: 0 32px;
        /* margin: 0 19px; */
    }
    /* -------------------------------------------------- */
    
    .nav_01{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        height: 30px;
        
        width: 100%;
    }
    .youAre_p01{
        margin-right: 8px;
    }
    .other_01{
        margin-right:16px;
    }
    .nav_search{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: #000;
        font-weight: 400;
        font-size: 14px;
    }
    
    .other_02{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        border: 1px solid #000;
        border-radius: 15px;
        padding: 0 8px;
        color: #555;
    }
    .other_02 p{
        font-size: 10px;
        white-space: nowrap;
        padding: 4px;
        line-height: 10px;
    }
    /* ------------------------------------------------ */
    .nav_02_body{
        border-bottom: 1px solid rgb(225, 225, 225);
        /* position: fixed; */
        position: sticky;
        /* position: sticky;自動偵測到使用者滑動後固定在一個定點 */
        top: 0px;
        background: #fff;
    }
    .nav_02{
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav_logo{
        width: 130px;
        height: 51px;
    }
    .nav_logo img{
        width: 100%;
        height: 100%;
    }
    
    /* ------註冊------------ */
    .nav_registered_btn{
        display: flex;
        background: #fff;
        color: #00a546;
        border: 1px solid #00a546;
        padding: 0 8px;
        width: 100%;
        height: 32px;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        min-width: 120px;
        margin-right: 16px;
    
    }
    .nav_registered_btn svg{
        width: 16px;
        height: 16px;
        margin-right: 4px;
        margin-top: 4px;
    }
    
    
    
    /* --------登入----------- */
    .nav_SignIn_btn{
        display: flex;
        width: 100%;
        height: 32px;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: #00a546;
        color: #fff;
        font-size: 12px;
        min-width: 120px;
        
    }
    .nav_SignIn_btn path{
        fill: #fff;
        width: 16px;
        height: 15px;
    }
    .nav_menu_btn{
        padding: 8px 16px;
    }
    /* ------------------nav_細頁--共用----------------------------------- */
    .ul_bottom{
        /* padding: 0 32px; */
        padding-right: 32px;
       
        border-right: 1px solid rgb(225, 225, 225);
    }
    .ul_bottom:last-child{
        /* padding: 0 32px 0 0; */
        border-right: 1px solid transparent;
    }
    
    .ul_bottom li{
        padding-bottom: 8px;
        /* padding:上 右 下 左; */
        
    }
    .ul_bottom li:last-child{
        padding-bottom: 0px;
    }
    .DetailPage_img_w{
        /* max-width: 225px; */
        height: 247px;
        border: 1px solid rgb(225, 225, 225);
    }
    .deposit_img_btn{
        max-width: 100%;
        height: 150px;
        
    }
    .deposit_img_btn img{
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }
    .deposit_text{
        padding: 16px;
        line-height: 1.3;
        text-align: left;
    }
    .m_l{
        margin-left: 32px;
    }
    /* 橫向_置中設定 SetIn */
    .SetIn{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    /* 橫向_均分設定 EvenlySplit*/
    .EvenlySplit{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    .w_70pa{
        width: 62.5%;
        margin: 0;
    }
    .w_40pa{
        width: 37.5%;
        margin: 0;
    }
    .w_31pa{
        width: 31%;
        margin: 0;
    }
    .w_50pa{
        width: 50%;
    }
    .w_03{
        width: 284.98px;
        margin: 0;
    }
    .text_01{
        margin-bottom: 8px;
        text-align: justify;
        text-justify: inter-ideograph;
    }
    .nav_setUp_m{
        margin: 24px 0 20px 0;
    }
    /* -------------nav_細頁_存款--deposit------------------ */
    .nav_deposit_body{
        width: 100%;
    
    }
    .nav_deposit_body li{
        font-size: 12px;
        font-weight: 600;
    }
    .nav_deposit{
        width: 100%;
        padding: 0 32px;
        
    }
    .deposit_text{
        font-size: 14px;
    }
    .deposit_04{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .More {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: start;
        height: 40px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: #555;
        padding: 8px 16px;
        width: 100%;
        background-color: #f6f6f6;
        
    }
    
    
    
    
    
    
    
    
    
    /* -------------nav_細頁_信用卡--creditCard---------------- */
    .nav_creditCard_body{
        display: none;
    }
    
    /* -------------nav_細頁_貸款--loan------------------ */
    .nav_loan{
        display: none;
    }
    
    
    /* -------------nav_細頁_投資--investment------------------ */
    .nav_investment{
        display: none;
    }
    
    /* -------------nav_細頁_保險--Insurance------------------ */
    .nav_Insurance{
        display: none;
    }
    
    /* -------------nav_細頁_數位服務--DigitalService-------------- */
    .nav_DigitalService{
        display: none;
    }
    
    /* -------------nav_細頁_支援中心--SupportCenter-------------- */
    .nav_SupportCenter{
        display: none;
    }
}
/*如果螢幕寬度為 1441px 以上*/
@media screen and (min-width: 1441px){
    .header_body{
        border-bottom: 1px solid rgb(225, 225, 225);
        position: sticky;
        /* position: sticky;自動偵測到使用者滑動後固定在一個定點 */
        top: 0px;
        z-index: 2000;
    }

    .item-group{
        display: flex;
        flex-direction: row;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .nav_01_body,.nav_02_body{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .nav_01_body{
        background-color: #f6f6f6;
    }
    
    
    .p_32{
        padding: 0 32px;
        margin: 0 19px;
    }
    /* -------------------------------------------------- */
    
    .nav_01{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        height: 30px;
        
        width: 75.1%;
    }
    .youAre_p01{
        margin-right: 8px;
    }
    .other_01{
        margin-right:16px;
    }
    .nav_search{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: #000;
        font-weight: 400;
        font-size: 14px;
    }
    
    .other_02{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        border: 1px solid #000;
        border-radius: 15px;
        padding: 0 8px;
        color: #555;
    }
    .other_02 p{
        font-size: 10px;
        white-space: nowrap;
        padding: 4px;
        line-height: 10px;
    }
    /* ------------------------------------------------ */
    
    .nav_02_body{
        border-bottom: 1px solid rgb(225, 225, 225);
        /*position: sticky;*/
        /* position: sticky;自動偵測到使用者滑動後固定在一個定點 */
        /*top: 0px;*/
        background: #fff;
    }
    .nav_02{
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75.1%;
    }
    .nav_logo{
        width: 130px;
        height: 51px;
    }
    .nav_logo img{
        width: 100%;
        height: 100%;
    }
    
    /* ------註冊------------ */
    .nav_registered_btn{
        display: flex;
        background: #fff;
        color: #00a546;
        border: 1px solid #00a546;
        padding: 0 8px;
        width: 100%;
        height: 32px;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        min-width: 120px;
        margin-right: 16px;
    
    }
    .nav_registered_btn svg{
        width: 16px;
        height: 16px;
        margin-right: 4px;
        margin-top: 4px;
    }
    
    
    
    /* --------登入----------- */
    .nav_SignIn_btn{
        display: flex;
        width: 100%;
        height: 32px;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: #00a546;
        color: #fff;
        font-size: 12px;
        min-width: 120px;
        
    }
    .nav_SignIn_btn path{
        fill: #fff;
        width: 16px;
        height: 15px;
    }
    .nav_menu_btn{
        padding: 8px 16px;
    }
    /* ------------------nav_細頁--共用----------------------------------- */
    .ul_bottom{
        /* padding: 0 32px; */
        padding-right: 32px;
       
        border-right: 1px solid rgb(225, 225, 225);
    }
    .ul_bottom:last-child{
        /* padding: 0 32px 0 0; */
        border-right: 1px solid transparent;
    }
    
    .ul_bottom li{
        /* padding-bottom: 8px; */
        padding-bottom: 12px;
        /* padding:上 右 下 左; */
        
    }

    .ul_bottom li:last-child{
        /* padding-bottom: 0px; */
    }
    .l_padding{
        padding-left: 32px;
    }
    .DetailPage_img_w{
        /* max-width: 225px; */
        /* height: 247px; */
        /* height: 255px; */
        border: 1px solid rgb(225, 225, 225);
    }
    .deposit_img_btn{
        max-width: 100%;
        height: 150px;
        
    }
    .nav_img_btn img{
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }
    .nav_text{
        padding: 16px;
        /* padding: 14px; */
        line-height: 1.3;
        text-align: left;
    }
    .m_l{
        margin-left: 32px;
    }
    /* 橫向_置中設定 SetIn */
    .SetIn{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    /* 橫向_均分設定 EvenlySplit*/
    .EvenlySplit{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
    }
    .w_100pa{
        width: 100%;
        margin: 0;
    }
    .w_70pa{
        width: 62.5%;
        margin: 0;
    }
    .w_40pa{
        width: 37.5%;
        margin: 0;
    }
    .w_31pa{
        width: 31%;
        margin: 0;
    }
    .w_50pa{
        width: 50%;
    }
    .w_25pa{
        width: 25%;
    }
    .w_03{
        width: 284.98px;
        margin: 0;
    }
    .text_01{
        margin-bottom: 8px;
        text-align: justify;
        text-justify: inter-ideograph;
        word-wrap:break-word;
    }
    .nav_setUp_m{
        margin: 24px 0 20px 0;
    }
    .background_fff{
        background: #fff;
    }
    .nav_border_b{
        border-bottom: 1px solid #e1e1e1;
        /* margin-bottom: 16px; */
        padding-bottom: 8px;
        color: #919191;
        font-size: 12px;
        font-weight: 600;
    }
    .nav_pt{
        padding-top: 25px;

    }
    .nav_li li{
        font-size: 12px;
        font-weight: 600;
    }
    .nav_text{
        font-size: 14px;
    }
    /* -------------nav_細頁_存款--deposit------------------ */
    .nav_deposit_body{
        width: 100%;
        display: none;
    }

    .nav_deposit{
        width: 75.1%;
        padding: 0 32px;
        
    }
   
    .deposit_04{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .More {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: start;
        height: 40px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: #555;
        padding: 8px 16px;
        width: 100%;
        background-color: #f6f6f6;
        
    }
    
    
    
    
    
    
    
    
    
    /* -------------nav_細頁_信用卡--creditCard---------------- */
    .nav_creditCard_body{
        width: 100%;
        display: none;
        
    }

    .nav_creditCard{
        width: 75.1%;
        padding: 0 32px;
    }
    .creditCard_img01{
        width: 100%;
    }













    /* -------------nav_細頁_貸款--loan------------------ */
    .nav_loan_body{
        display: none;
    }
    
    
    /* -------------nav_細頁_投資--investment------------------ */
    .nav_investment{
        display: none;
    }
    
    /* -------------nav_細頁_保險--Insurance------------------ */
    .nav_Insurance{
        display: none;
    }
    
    /* -------------nav_細頁_數位服務--DigitalService-------------- */
    .nav_DigitalService{
        display: none;
    }
    
    /* -------------nav_細頁_支援中心--SupportCenter-------------- */
    .nav_SupportCenter{
        display: none;
    }
}



